body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    scrollbar-3dlight-color: #B4B4B4;
    scrollbar-arrow-color: #3b3b3b;
    scrollbar-base-color: #EEEEEE;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-face-color: #dcdcdc;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #d5d5d5;
}
.lefttable {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: top;
}
.body1 {
    font-family: "돋움";
    font-size: 9pt;
}
.topmn1 {
    font-family: "돋움";
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
    text-align: center;
}
.topmn1-1 {
    font-family: "돋움";
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    background-image: url(/html/images/top_bg1-1.gif);
    background-repeat: repeat-x;
}
.leftmn1 {
    font-family: "나눔고딕";
    font-size: 9pt;
    font-weight: bold;
    color: #000000;
    height: 25px;
    padding-left: 9px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d1d1d1;
    background-image: url(/html/images/leftbg1.gif);
    background-repeat: no-repeat;
    background-position: right top;
}
.leftmn1 a:link {text-decoration: none;color: #000000;}
.leftmn1 a:visited {text-decoration: none;color: #000000;}
.leftmn1 a:hover {text-decoration: none;color: #7e253c;}
.leftmn1 a:active {text-decoration: none;color: #7e253c;}

.leftmn1-1 {
    font-family: "나눔고딕";
    font-size: 9pt;
    font-weight: bold;
    color: #000000;
    height: 25px;
    padding-left: 9px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d1d1d1;
    background-image: url(/html/images/leftbg1-1.gif);
    background-repeat: no-repeat;
    background-position: right top;
}
.leftmn1-1 a:link {text-decoration: none;color: #000000;}
.leftmn1-1 a:visited {text-decoration: none;color: #000000;}
.leftmn1-1 a:hover {text-decoration: none;color: #7e253c;}
.leftmn1-1 a:active {text-decoration: none;color: #7e253c;}

.leftmn2bg {
    background-color: #f5f5f5;
    padding: 9px;
}
.leftmn2 {
    font-family: "나눔고딕";
    font-size: 9pt;
    color: #6c6c6c;
    height: 20px;
    padding-left: 9px;
}
.leftmn2 a:link {text-decoration: none;color: #6c6c6c;}
.leftmn2 a:visited {text-decoration: none;color: #6c6c6c;}
.leftmn2 a:hover {text-decoration: none;color: #7e253c}
.leftmn2 a:active {text-decoration: none;color: #7e253c}

.leftmn2-1 {
    font-family: "나눔고딕";
    font-size: 9pt;
    color: #7e253c;
    height: 20px;
    font-weight: bold;
}
.leftmn2-1 a:link {text-decoration: none;color: #7e253c;}
.leftmn2-1 a:visited {text-decoration: none;color: #7e253c;}
.leftmn2-1 a:hover {text-decoration: none;color: #7e253c;}
.leftmn2-1 a:active {text-decoration: none;color: #7e253c;}

.leftmn3 {
    font-family: "나눔고딕";
    font-size: 9pt;
    color: #6c6c6c;
    height: 17px;
    padding-left: 9px;
}
.leftmn3 a:link {text-decoration: none;color: #6c6c6c;}
.leftmn3 a:visited {text-decoration: none;color: #6c6c6c;}
.leftmn3 a:hover {text-decoration: none;color: #7e253c;}
.leftmn3 a:active {text-decoration: none;color: #7e253c;}


.leftmn3-1 {

    font-family: "나눔고딕";
    font-size: 9pt;
    color: #7e253c;
    height: 17px;
    padding-left: 9px;
}
.leftmn3-1 a:link {text-decoration: none;color: #7e253c;}
.leftmn3-1 a:visited {text-decoration: none;color: #7e253c;}
.leftmn3-1 a:hover {text-decoration: none;color: #7e253c;}
.leftmn3-1 a:active {text-decoration: none;color: #7e253c;}


.leftmn3table {
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 13px;
}


.leftmn5 {
    font-family: "나눔고딕";
    font-size: 9pt;
    color: #6c6c6c;
    height: 17px;
}
.leftmn5 a:link {text-decoration: none;color: #6c6c6c;}
.leftmn5 a:visited {text-decoration: none;color: #6c6c6c;}
.leftmn5 a:hover {text-decoration: none;color: #7e253c;}
.leftmn5 a:active {text-decoration: none;color: #7e253c;}


.leftmn5-1 {
    font-family: "나눔고딕";
    font-size: 9pt;
    color: #7e253c;
    height: 17px;
}
.leftmn5-1 a:link {text-decoration: none;color: #7e253c;}
.leftmn5-1 a:visited {text-decoration: none;color: #7e253c;}
.leftmn5-1 a:hover {text-decoration: none;color: #7e253c;}
.leftmn5-1 a:active {text-decoration: none;color: #7e253c;}


.leftmymn1 {

    font-family: "나눔고딕";
    font-size: 9pt;
    font-weight: normal;
    color: #6c6c6c;
    height: 25px;
    padding-left: 9px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d1d1d1;
}
.leftmymn1 a:link {text-decoration: none;color: #6c6c6c;}
.leftmymn1 a:visited {text-decoration: none;color: #6c6c6c;}
.leftmymn1 a:hover {text-decoration: none;color: #7e253c;}
.leftmymn1 a:active {text-decoration: none;color: #7e253c;}

.leftmymn1-1 {
    font-family: "나눔고딕";
    font-size: 9pt;
    color: #7e253c;
    height: 25px;
    padding-left: 9px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d1d1d1;
    font-weight: bold;
}
.leftmymn1-1 a:link {text-decoration: none;color: #7e253c;}
.leftmymn1-1 a:visited {text-decoration: none;color: #7e253c;}
.leftmymn1-1 a:hover {text-decoration: none;color: #7e253c;}
.leftmymn1-1 a:active {text-decoration: none;color: #7e253c;}.


                                                             .leftmn4 {
                                                                 font-family: "돋움";
                                                                 font-size: 9pt;
                                                                 color: #606060;
                                                                 border-bottom-width: 1px;
                                                                 border-bottom-style: solid;
                                                                 border-bottom-color: #cacaca;
                                                                 height: 23px;
                                                             }
.leftmn4 a:link {text-decoration: none;color: #606060;}
.leftmn4 a:visited {text-decoration: none;color: #606060;}
.leftmn4 a:hover {text-decoration: none;color: #a75368;}
.leftmn4 a:active {text-decoration: none;color: #a75368;}

.leftmn4-1 {
    font-family: "돋움";
    font-size: 9pt;
    color: #8b2942;
    padding-left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cacaca;
    background-repeat: no-repeat;
    letter-spacing: -0.05em;
    height: 23px;
}
.leftmn4-1 a:link {text-decoration: none;color: #606060;}
.leftmn4-1 a:visited {text-decoration: none;color: #606060;}
.leftmn4-1 a:hover {text-decoration: none;color: #a75368;}
.leftmn4-1 a:active {text-decoration: none;color: #a75368;}

.mainsubttl1 {
    font-family: "돋움";
    font-size: 9pt;
    color: #434343;
}

.mainbd1 {
    font-family: "돋움";
    font-size: 9pt;
    color: #4c4c4c;
    height: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.mainbd1 a:link {text-decoration: none;color: #4c4c4c;}
.mainbd1 a:visited {text-decoration: none;color: #4c4c4c;}
.mainbd1 a:hover {text-decoration: none;color: #a75368;}
.mainbd1 a:active {text-decoration: none;color: #a75368;}

.mainbd2 {
    font-family: "돋움";
    font-size: 9pt;
    color: #a7a6a6;
    height: 20px;
    padding-right: 15px;
    text-align: right;
}
.mainbd3 {
    font-family: "돋움";
    font-size: 9pt;
    color: #4c4c4c;
    height: 21px;
    padding-right: 10px;
    padding-left: 10px;
}

.ttl {
    font-family: "돋움";
    font-size: 10pt;
    font-weight: bold;
    color: #4c4c4c;
}
.td1ttl1 {
    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #727172;
    background-color: #ededed;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #be8795;
    text-align: center;
    height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #be8795;
}

.ctd1 {
    font-family: "돋움";
    font-size: 9pt;
    font-weight: bold;
    color: #6d6d6d;
    padding-right: 3px;
    padding-left: 3px;
}

.ctextf1 {
    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #6d6d6d;
    height: 19px;
    width: 90%;
    border: 1px solid #c2c2c2;
    padding-right: 3px;
    padding-left: 3px;
}
.td1ttl1-1 {

    font-family: "돋움";
    font-size: 9pt;
    font-weight: bold;
    color: #a25468;
    background-color: #ededed;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #be8795;
    text-align: center;
    height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #be8795;
}
.td1ttl2 {


    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #727172;
    background-color: #ededed;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #be8795;
    text-align: center;
    height: 24px;
}
.td1cts1 {

    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #6d6d6d;
    background-color: #f9f9f9;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    text-align: center;
    height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2cdc4;
}
.td1cts2 {


    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #6d6d6d;
    background-color: #f9f9f9;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    text-align: center;
    height: 24px;
}
.td1cts1-1 {


    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #5A8173;
    background-color: #e5f5f1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    text-align: center;
    height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2cdc4;
}
.table1 {
    scrollbar-face-color: #efefef;
    scrollbar-shadow-color:  #c2c2c2;
    scrollbar-highlight-color:  #FFFFFF;
    scrollbar-3dlight-color: #c2c2c2;
    scrollbar-darkshadow-color: #efefef;
    scrollbar-track-color: #e6e6e6;
    scrollbar-arrow-color: #666666;
}

.td1cts3 {


    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #6d6d6d;
    background-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    text-align: center;
    height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2cdc4;
}
.td1cts4 {



    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #6d6d6d;
    background-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    text-align: center;
    height: 24px;
}
.td1cts5 {



    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #6d6d6d;
    background-color: #f9ebe0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    text-align: center;
    height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2cdc4;
}
.td1cts6 {




    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #6d6d6d;
    background-color: #f9ebe0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    text-align: center;
    height: 24px;
}
.td1cts5-1 {




    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #6d6d6d;
    background-color: #e0e2d4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    text-align: center;
    height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2cdc4;
}
.td2ttl1 {
    font-family: "돋움";
    font-size: 9pt;
    font-weight: normal;
    color: #727172;
    background-color: #f0f0f0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2cdc4;
    padding-right: 5px;
    padding-left: 5px;
}
.td2ttl1-1 {

    font-family: "돋움";
    font-size: 9pt;
    font-weight: bold;
    color: #a25468;
    background-color: #f0f0f0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2cdc4;
    height: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2cdc4;
    padding-right: 5px;
    padding-left: 5px;
}
.tab1 {
    font-family: "돋움";
    font-size: 9pt;
    font-weight: bold;
    color: #FFFFFF;
    background-image: url(/html/images/tab1.gif);
    background-repeat: no-repeat;
    width: 106px;
    text-align: center;
    height: 20px;
    line-height: 20px;

}

.tab1 a:link {text-decoration: none;color: #FFFFFF;}
.tab1 a:visited {text-decoration: none;color: #FFFFFF;}
.tab1 a:hover {text-decoration: none;color: #FFFFFF;background-image: url(/html/images/tab1-1.gif);background-repeat: no-repeat;width: 106px;height: 20px; }
.tab1 a:active {text-decoration: none;color: #FFFFFF;background-image: url(/html/images/tab1-1.gif);background-repeat: no-repeat;width: 106px;height: 20px;}

.tab2 {

    font-family: "돋움";
    font-size: 9pt;
    font-weight: bold;
    color: #9b9a9b;
    background-image: url(/html/images/tab2.gif);
    background-repeat: no-repeat;
    width: 106px;
    text-align: center;
    height: 20px;
    line-height: 20px;

}

.cbox {
    font-family: "돋움";
}

.tform {	font-family: "돋움";
    font-size: 9pt;
    color: #666666;
    height: 18px;
    width: 123px;
    border: 1px solid #d8b8c0;
    padding-right: 5px;
    padding-left: 5px;
}

.tform1 {	font-family: "돋움";
    font-size: 9pt;
    color: #666666;
    height: 18px;
    width: 50px;
    border: 1px solid #d8b8c0;
    padding-right: 5px;
    padding-left: 5px;
}

.tform2 {	font-family: "돋움";
    font-size: 9pt;
    color: #666666;
    height: 18px;
    width: 59px;
    border: 1px solid #d8b8c0;
    padding-right: 5px;
    padding-left: 5px;
}

.loginsfont {
    font-family: "돋움";
    font-size: 8pt;
    color: #404040;
    padding-bottom: 5px;
}