<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lectures</title>
</head>
<body>
<h1>Lectures</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Course Number</th>
        <th>Credit</th>
        <th>Wishlist</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lecture : ${lectures}">
        <td th:text="${lecture.id}"></td>
        <td th:text="${lecture.lectureCode}"></td>
        <td th:text="${lecture.credit}"></td>
        <td>
            <a th:href="@{|/lectures/add-to-wishlist/${lecture.id}?studentId=${studentId}|}">Wishlist</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

